<div class = "container">
  <h1>Leaf Edit</h1>

  <form ngNativeValidate>
    <button type="button" (click)="presentedit = 1" class="btn btn-danger" *ngIf="presentedit == 0 && checkuserloggedin()">Edit</button>
    <button type="button" (click)="submitUpload()" class="btn btn-danger" *ngIf="presentedit == 1 && checkuserloggedin()">Save</button>

    <button type="button" (click)="deleteleaf()" class="btn btn-danger" *ngIf="checkuserloggedin()">Delete</button>
    <div class = "form-group">
      <label >Scientific Name</label>
      <p><span>{{leafvalues.scientificName}}</span>
    </div>
    <div class = "form-group">
      <label>Common Name</label>
      <p><span>{{leafvalues.commonName}}</span>
    </div>
    <div class = "form-group">
      <label>Family</label>
      <p><span>{{leafvalues.family}}</span>

    </div>
    <div class = "form-group">
      <label>Utility</label>
      <p><span>{{leafvalues.Utility}}</span>
    </div>
    <div class="form-group">
      <label>Leaf Margin</label>
      <p><span>{{leafvalues.leafMargin}}</span>

    </div>
    <div class="form-group">
      <label>Leaf Division:</label>
      <p><span>{{leafvalues.leafDivision}}</span>
    </div>
    <div class = "form-group">
      <label>Description</label>
      <p><span>{{leafvalues.Description}}</span>
    </div>
    <div class="form-group">
      <label>Shape:</label>
      <p><span>{{leafvalues.leafShape}}</span>


    </div>
    <div class="form-group">
      <label>Picture Type</label>
      <p><span *ngIf="presentedit == 0">{{leafvalues.pictureType}}</span>
        <select class="selectpicker form-control" [(ngModel)] = "leafvalues.pictureType" name="pictureType" required *ngIf="presentedit == 1">
          <option value="Level0">Level 0</option>
          <option value="Level1">Level 1</option>
          <option value="Level2">Level 2</option>
          <option value="Level3">Level 3</option>
        </select>



    </div>

    <div class="form-group">
      <label>Season:</label>
      <p><span *ngIf="presentedit == 0">{{leafvalues.pictureSeason}}</span>

        <select class="selectpicker form-control" name="season" [(ngModel)] = "leafvalues.pictureSeason" *ngIf="presentedit == 1">
          <option value="Spring">Spring</option>
          <option value="Summer">Summer</option>
          <option value="Monsoon">Monsoon</option>
          <option value="Autumn">Autumn</option>
          <option value="Winter">Winter</option>
        </select>



    </div>
    <div class="form-group">
      <label>Leaf Health:</label>
      <p><span *ngIf="presentedit == 0">{{leafvalues.leafHealth}}</span>
        <select class="selectpicker form-control" name="health" [(ngModel)] = "leafvalues.leafHealth" *ngIf="presentedit == 1">
          <option value="Good">Good</option>
          <option value="Not Good">Not Good</option>
        </select>


    </div>

    <div class = "form-group">
      <label for = "Disease">Disease</label>
      <p><span *ngIf="presentedit == 0">{{leafvalues.Disease}}</span>
      <input type = "text" class = "form-control" id = "Disease" required *ngIf="presentedit == 1"
             [(ngModel)] = "leafvalues.Disease" name = "Disease">

    </div>

    <div class="form-group">
      <label>Annotation Complete:</label>
      <p><span *ngIf="presentedit == 0">{{leafvalues.AnnotationComplete}}</span>

        <select class="selectpicker form-control" name="Annotation" [(ngModel)] = "leafvalues.AnnotationComplete" *ngIf="presentedit == 1">
          <option value="true">yes</option>
          <option value="false">no</option>
        </select>

      </div>
    <div class="form-group">
      <label>Tagging Complete:</label>
      <p><span *ngIf="presentedit == 0">{{leafvalues.TaggingComplete}}</span>

        <select class="selectpicker form-control" name="Tagging" [(ngModel)] = "leafvalues.TaggingComplete" *ngIf="presentedit == 1">
          <option value="true">yes</option>
          <option value="false">no</option>
        </select>

    </div>


    <p>Annotation details
      <span *ngIf="presentedit == 0">{{leafvalues.annotationtext}}</span>
      <input type="text" id="why" name="annote_area" class="form-control mr-sm-2" [(ngModel)]="leafvalues.annotationtext" *ngIf="presentedit == 1">
      <br>
      <br>
      <img [src] ='image_path + leafvalues.leafname' (error) = "changeSource($event, leafvalues.leafname)" id="blah"  width="200" height="200" /><br>
      <button type="button" (click)="myFunction()" *ngIf="checkuserloggedin()" class="btn btn-danger"><span class="btn-text">Update Annotation</span></button>
      <div>
      </div>
  </form>
</div>
