<div class="container">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" (click)="getAllFamily()">View Leaf Types</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="getAllUnAnnoted()">UnAnnotated Leaf list</a>
        </li>
      </ul>
    </nav>
    <div class="col-sm-3 col-md-2" *ngIf="showleaftypes!=0">
      <select class="selectpicker form-control" name="season" [(ngModel)] = "userglobal">
        <option value="User"> User </option>
        <option value="Global"> Global </option>
      </select>
    <table class="table" *ngIf="showleaftypes!=0">
      <thead>
      <tr>
        <th>Leaf Scientific Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let name of family" class="query-suggestions" (click)="FamilyLeaves(name._id)">
        <td><a class="suggestions">{{name.scientificName}}</a></td>
      </tr>
      </tbody>
    </table>
    </div>
    <div class="col-sm-7 col-md-7">
      <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" (scrolled)="onScroll()">
      </div>
      <div >
        <div *ngFor="let item of items;let i = index">
          <div class="item" (click)="imageprofile(i)">
            <img src="http://localhost:3002/{{item.leafname}}" height="200px" [ngClass]="'image'+i" >
          </div>
        </div>

      </div>
    </div>
    <div *ngIf="showleaftypes==0">
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <h1>Dashboard</h1>
      <section class="row text-center placeholders">
        <div class="col-6 col-sm-3 placeholder">
            <img src="https://i.imgur.com/Z4KWPmh.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail" >
          <h4>Total Number of leaves</h4>
          <p>{{dashboardstatistics.familycount}}</p>
        </div>
        <div class="col-6 col-sm-3 placeholder">
            <img src="https://i.imgur.com/YZwivHa.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
          <h4>Total Annotated Leaves</h4>
          <p>{{dashboardstatistics.annotated}}</p>
          <span class="text-muted"></span>
        </div>
        <div class="col-6 col-sm-3 placeholder">
            <img src="https://i.imgur.com/GTzwx0J.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
          <h4>Partially annotated leaves</h4>
          <p>{{dashboardstatistics.unannotated}}</p>
          <span class="text-muted"></span>
        </div>
        <div class="col-6 col-sm-3 placeholder">
          <img src="https://i.imgur.com/GTzwx0J.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
          <h4>Diseased leaves</h4>
          <p>{{dashboardstatistics.diseased}}</p>
          <span class="text-muted"></span>
        </div>
        <div class="col-6 col-sm-3 placeholder">
            <img src="https://i.imgur.com/1yvXEz9.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
          <h4>My leaves</h4>
          <p>{{dashboardstatistics.userleaves}}</p>
          <span class="text-muted"></span>
        </div>
      </section>
    </main>
    </div>
  </div>
</div>

