.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }
.options-list{
  margin: 3vh 7vw;
}
.photo-list{
  padding: 3vh 5vw;
}
.name-list{
  padding: 3vh 2vw;
  max-height: 80vh;
  overflow-y: auto;
}
.edit-list{
  padding: 3vh 4vw 3vh 0vw;
}
.search-catalogue{
  margin: 0vh 38vw;
  max-width: 20vw;
}
.dashboard{
  padding: 5vh 10vw;
  margin-left: 15vw;
}
.reset{
  margin-left: 40vw;
  margin-top: 5vh;
}
html, body { 
  height: 100%;
  width:100%;
 }
.pointer {
  cursor: pointer;
}
.suggestions {
  font-family: Arial, sans-serif;
  font-size: 17px;
  margin-left: 2.4%;
  display: block;
}

.query-suggestions:hover {
  background: #E3E3E3;
}

.suggestion-box {
  width: 634px;
  max-width: 100%;
  border: 1px solid rgba(150,150,150,0.3);
  background-color: white;
  margin-top: 47px;
  margin-left: -1px;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .suggestion-box {
    width: 95.2vw;
  }
}

@media screen and (max-width: 436px) {
  .suggestion-box {
    display: none;
  }
}
a {
  text-decoration: none;
}
.item {
  float: left;
  margin-bottom: 10px;
  margin-left: 5px;
  cursor: pointer;
  position:relative;
}
.item img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}
.item a {
  position:absolute;
  bottom:5px;
  background:blue;
  color:#FFF;
}
.image-viewer {
  height: 400px;
  background-color: #000;
  position: relative;
  width: 100%;
  text-align: center
}
.card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  width: 300px;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  display: inline-block;
  float: left;
}

.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  box-shadow: none;
}

.card-img-top {
  display: block;
  max-width: 100%;
  max-height: 250px;
  margin: auto;
}

.card-title {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em;
}

.card-text {
  clear: both;
  margin-top: .5em;
  color: rgba(0, 0, 0, .68);
}

.card-footer {
  text-align: center;
  font-size: 1em;
  position: static;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: .75em 1em;
  color: rgba(0, 0, 0, .4);
  border-top: 1px solid rgba(0, 0, 0, .05) !important;
  background: #fff;
}

.card-inverse .btn {
  border: 1px solid rgba(0, 0, 0, .05);
}
figure {
    display: inline-block;
    margin: 20px 15px;
    float:left;
    text-align: center;
    border: 1px black;
    border-style: solid;
    width: 15.1vw;
    height: 25vh;
}
figure img{
  width: 15vw;
  height: 18vh;
}
.no-caption{
  height: 18.2vh;
}
figure figcaption {
  padding: 2px;
  word-wrap: break-word;
  }
.glyphicon {
      pointer-events: all;
    }
.charts{
  display:block;
  clear: both;
  margin-left: 25vw;
}
.graph{
  width: 50vw;
  height: 50vh;
}
.chart-head{
  clear: both;
  margin-top: 30vh;
}