	<h1 class ="text-center"> Unknown Leaves </h1>
<div class="col-sm-3 col-md-3 edit-list" *ngIf = "items?.length">
  <h2> Mark and add species details! </h2>
  <form ngNativeValidate>
    <div class = "form-group">
      <label for = "scientificName">Scientific Name</label>
      <input type = "text" class = "form-control" id = "scientificName" required
             [(ngModel)] = "leafvalues.scientificName" (keyup)="searchscientificName($event)" name = "scientificName">
    </div>
    <div class = "form-group">
      <label for = "commonName">Common Name</label>
      <input type = "text" class = "form-control" id = "commonName" required
             [(ngModel)] = "leafvalues.commonName" (keyup)="searchcommonName($event)" name = "commonName">
    </div>
    <div class = "form-group">
      <label for = "family">Family</label>
      <input type = "text" class = "form-control" id = "family"
             [(ngModel)] = "leafvalues.family" name = "family">
    </div>
    <div *ngIf="autoresults">
      Autocomplete Suggestions
      <div *ngFor="let result of autoresults" class="query-suggestions" (click)="fillinfo(result)">
        <a class="suggestions"> scientificName: {{result.scientificName}},commonName: {{result.commonName}} </a>
      </div>
    </div>
    <div class="form-group">
      <label>Picture Type</label>
      <div class="input-group">
        <select class="selectpicker form-control" [(ngModel)] = "leafvalues.pictureType" name="pictureType" required>
          <option value="Level0">Level 0</option>
          <option value="Level1">Level 1</option>
          <option value="Level2">Level 2</option>
          <option value="Level3">Level 3</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label>Shape:</label>
      <div class="input-group">
        <select class="selectpicker form-control" [(ngModel)] = "leafvalues.leafShape" name="leafShape" required>
              <option value="Cordate">Cordate</option>
              <option value="Cuneate">Cuneate</option>
              <option value="Elliptical">Elliptical</option>
              <option value="Hastate">Hastate</option>
              <option value="Lanceolate">Lanceolate</option>
              <option value="Linear">Linear</option>
              <option value="Obcordate">Obcordate</option>
              <option value="Oblanceolate">Oblanceolate</option>
              <option value="Oblong">Oblong</option>
              <option value="Obovate">Obovate</option>
              <option value="Ovate">Ovate</option>
              <option value="Peltate">Peltate</option>
              <option value="Reniform">Reniform</option>
              <option value="Spatulate">Spatulate</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label>Leaf Margin</label>
      <div class="input-group">
        <select class="selectpicker form-control" name="completed" [(ngModel)] = "leafvalues.leafMargin">
          <option value="Entire">Entire</option>
          <option value="Dentate">Dentate</option>
          <option value="Crenate">Crenate</option>
          <option value="Serrate">Serrate</option>
          <option value="Incised">Incised</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label>Leaf Division:</label>
      <div class="input-group">
        <select class="selectpicker form-control" name="division" [(ngModel)] = "leafvalues.leafDivision">
          <option value="Simple">Simple</option>
          <option value="Compound">Compound</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label>Season:</label>
      <div class="input-group">
        <select class="selectpicker form-control" name="season" [(ngModel)] = "leafvalues.pictureSeason">
          <option value="Spring">Spring</option>
          <option value="Summer">Summer</option>
          <option value="Monsoon">Monsoon</option>
          <option value="Autumn">Autumn</option>
          <option value="Winter">Winter</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label>Leaf Health:</label>
      <div class="input-group">
        <select class="selectpicker form-control" name="health" [(ngModel)] = "leafvalues.leafHealth">
          <option value="Good">Good</option>
          <option value="Not Good">Not Good</option>
        </select>
      </div>
    </div>
    <div class = "form-group" *ngIf="leafvalues.leafHealth == 'Not Good'">
      <label for = "Disease">Disease</label>
      <input type = "text" class = "form-control" id = "Disease" required
             [(ngModel)] = "leafvalues.Disease" name = "Disease">
    </div>
    <div class = "form-group">
      <label for = "location">Location</label>
      <input type = "text" class = "form-control" id = "scientificName" required
             [(ngModel)] = "leafvalues.location" name = "location">
    </div>
    <div class = "form-group">
      <label for = "Description">Description</label>
      <input type = "text" class = "form-control" id = "Description" required
             [(ngModel)] = "leafvalues.Description" name = "Description">
    </div>
    <div class = "form-group">
      <label for = "Utility">Utility</label>
      <input type = "text" class = "form-control" id = "Utility" required
             [(ngModel)] = "leafvalues.Utility" name = "Utility">
    </div>
    <div class="form-group">
      <label>Annotation Complete:</label>
      <div class="input-group">
        <select class="selectpicker form-control" name="Annotation" [(ngModel)] = "leafvalues.AnnotationComplete">
          <option value="true">yes</option>
          <option value="false">no</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label>Tagging Complete:</label>
      <div class="input-group">
        <select class="selectpicker form-control" name="Annotation" [(ngModel)] = "leafvalues.TaggingComplete">
          <option value="true">yes</option>
          <option value="false">no</option>
        </select>
      </div>
    </div>
    <div id="submitBtn">
      <button (click)="submitUpload()" class="btn btn-danger"><span class="btn-text">Add details</span></button>
    </div>
  </form>

</div>

	<div class="col-sm-8 col-md-8 photo-list">
        <h2 *ngIf="!items?.length" class ="text-center"> No entries to display.</h2>
        <div *ngFor="let item of items;let i = index">
          <div class="card card-inverse card-info">
            <figure>
            <a [href]='(image_path+item.leafname)' [attr.data-lightbox]="'image'+i">
            <img [src]='image_path + item.leafname' (error) ="changeSource($event, item.leafname)" height="200px" class="card-img-top" [ngClass]="'image'+i" id="image{{i}}">
            </a>
          </figure>
          <br>
          <figcaption class ="text-center">
            <b>Picture type:</b> {{item.pictureType}}
            <br>
            <b>Location:</b> {{item.location}}
            <br>
            Mark: <input type="checkbox" [ngClass]="'check'+i"name="addleaf" (click)="addLeaf(item.leafname,i)">
          </figcaption>
         </div>
  </div>
